{% extends "base.html" %}

{% block title %}
Tiffany Ekklesia - Experience
{% endblock title %}

{% block content %}

<section class="container">
    <h2>My Experience</h2>

    {% for experience in experiences %}
        <div class="experience-card">
            <h3>{{ experience.title }}</h3>

            <p><strong>{{ experience.company }}</strong></p>

            <p>{{ experience.description }}</p>

            <p>
                {{ experience.start_date }}
                -
                {% if experience.end_date %}
                    {{ experience.end_date }}
                {% else %}
                    Present
                {% endif %}
            </p>
        </div>

    {% empty %}
        <p>No experience yet.</p>
    {% endfor %}
</section>

{% endblock content %}