{% extends "base.html" %}

{% block title %}
{% if is_edit %}
Edit Project - Tiffany Ekklesia
{% else %}
Add Project - Tiffany Ekklesia
{% endif %}
{% endblock title %}

{% block content %}

<section class="container">

    {% if is_edit %}
        <h2>Edit Project</h2>
    {% else %}
        <h2>Add a New Project</h2>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            {% if is_edit %}
                Update Project
            {% else %}
                Add Project
            {% endif %}
        </button>
    </form>

</section>

{% endblock content %}